<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "true"
    syntaxCheck                 = "false"
    bootstrap                   = "./Tests/bootstrap.php" >

    <testsuites>
        <testsuite name="CURLBundle test suite">
            <directory suffix="Test.php">./Tests/Unit</directory>
        </testsuite>
    </testsuites>

    <!--php>
        <server name="KERNEL_DIR" value="./../../../../app/" />
    </php-->

    <filter>

        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Controller</directory>
                <directory>./Resources</directory>
                <directory>./DependencyInjection</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <file>./AnchovyCURLBundle.php</file>
                <file>./Tests/bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
